DEPLOYMENT_VERSION=2.1.0

# Application Name
AppName=Five Safes TES

# Internal Postgres Superuser creds
PGLOGIN=admin
PGPASSWORD=admin

# Serilog Minimum Level
SerilogLevel=Warning

# Keycloak Credentials
KeycloakBootstrapAdminPassword=admin
# Keycloak Startup Command (if internal Keycloak is used and it has HTTPS enabled, use "start" instead of "start-dev")
KeycloakStartupCommand=start-dev

# RabbitMQ Credentials
RabbitMQDefaultPassword=rabbitmq

# Internal Keycloak Full URL (if using a local/internal Keycloak instance)
KeycloakFullURL=http://keycloak.localtest.me:8085

# Submission KeyCloak URL (KEEP THE SAME - if using a LOCAL Keycloak instance; CHANGE - if using a REMOTE Keycloak instance)
SUBMISSION_KEYCLOAK_URL=http://keycloak.localtest.me:8085

## Submission S3 Settings
# Submission S3 Console URL
SubmissionS3ConsoleUrl=http://localhost:9001
# Submission S3 OpenID Secret
SubmissionS3OpenidSecret=8a11bbcd-693a-4549-bda4-3e978fcf4de1
# Submission S3 Root User and Password
SubmissionS3RootUser=s3-submission
SubmissionS3RootPass=s3-submission-pass

# Keycloak Settings for Submission API and UI
SubmissionAPIKeyCloakSecret=2e60b956-16bc-4dea-8b49-118a8baac5e5
SubmissionUIClientSecret=1218304e-bf92-4706-83f6-912e0b04ecb9
# Redirect URL for Submission UI
SubmissionKeyCloakClientUIRedirectURL=http://localhost:7220
# Server URL for Submission Keycloak
SubmissionKeyCloakServer=keycloak:8080
# Protocol for Submission Keycloak
SubmissionServerProtocol=http

# Default SQL Query Image to run in the SQL wizard
URLSettingsFrontEndQueryImageSQL=harbor.federated-analytics.ac.uk/5s-tes-analysis-tools/5s-tes-analysis-tools-tre-sqlpg:1.0.0

# Note: Env vars below are unlikely to be changed 
# Path to the config folder of Submission Layer
CONFIG_PATH=../../../DeploymentStack/submission/config
# Always keep this as false in real deployments:
SeedDemoData=false
# Allows Keycloak to not require https:
KeyCloakDemoMode=true
#If having issues with keycloak set this to false.
sslcookies=false
#If http only site set this to false
httpsRedirect=false
# Proxy Settings (to be reviewed and removed if not needed):
no_proxy=192.168.*.*,172.17.*.*,localhost,0.0.0.0,127.0.0.1,minio
http_proxy=http://192.168.10.15:8080
https_proxy=http://192.168.10.15:8080
ProxyAddressURLForExternalFetch=http://192.168.10.15:8080
useproxy=false
proxyurl=http://192.168.10.15:8080
# Submission Keycloak settings (to be reviewed and removed if not needed):
SubmissionTokenRefreshSeconds=3600
SubmissionSignedOutRedirectUri=/
SubmissionAutoTrustKeycloakCert=false
SubmissionValidIssuer=
SubmissionValidAudience=
SuppressAntiforgery=false

CONFIG_PATH=../../../DeploymentStack/Submission/config